html,body,.App{
	height: 100%;
  margin: 0px;
}

:root{
  --biru :#11cbd7;
  --white:#f0fff3;
  --red:#f03861;
}
.img_about{
    background: url("https://res-staging.cloudinary.com/omg-helo/image/upload/v1556082332/trand_t1prbm.jpg") center/cover fixed no-repeat;
    width: 100%;
    height: 350px;
    -webkit-clip-path: polygon(75% 0%, 89% 56%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
    clip-path: polygon(75% 0%, 89% 56%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
}
.jumbo-edit{
  height: 525px;
  opacity: 0.7;
  background: url("https://res-staging.cloudinary.com/omg-helo/image/upload/v1556191189/Maney_r9e20n.png") center/cover no-repeat;
}
@media only screen and (min-width: 600px) {
  .kotak_jumbo{
    margin-top: 112px;
  }
  .b_bergabung{
    position: relative;
    top: 95px;
  }
}
h2.about-title {
  border-bottom: 2px red solid;
}
.fitur{
  list-style: none;
  font-size: 30px;
}
.fitur li i{
  color: var(--red);
  font-size: 49px;
}
.login_bg{
  background: url("https://res-staging.cloudinary.com/omg-helo/image/upload/v1556448854/login_yclx40.jpg")center/cover no-repeat;
  height: 470px;
}
.login_bg .icon_add i,
.icon_add i{
  background-color: #ffffff;
    font-size: 119px;
    border-radius: 70%;
    color: #dc3b45;
    margin-top: 90px;
}
.red-text{
 color: #dc3b45;
}
.user_login i{
  font-size: 114px;
  color:#ffffff;
  padding-top: 40px;
}
#fiturs{
background: rgb(122,188,255); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgb(122,188,255) 0%, rgb(96,171,248) 44%, rgb(64,150,238) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgb(122,188,255) 0%,rgb(96,171,248) 44%,rgb(64,150,238) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height: 500px;

}
/* footer */
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.bg-login{
	height: 100%;
	background-image: linear-gradient(to right top, #051637, #11305a, #184c80, #1a6ba7, #0e8ccf);
}
.card-auth {
	box-shadow: 1px 11px 70px -20px rgba(0, 0, 0, 0.70);
}
.btn-block {
	border-radius: 50px;
	padding-left: 40px;
	padding-right: 40px;
	border-color: #1d82ff;
	background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
	background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
	background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
	box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
	-webkit-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
	-moz-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
 
}